@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  @apply bg-[#F9F7F7]
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.textInput {
  @apply mb-3 w-full rounded p-2 border-2 focus:outline-indigo-300;
}
.react-datepicker__input-container input {
  @apply mb-3 w-full rounded p-2 border-2 focus:outline-indigo-300;
}
textarea {
  @apply mb-3 w-full rounded p-2 border-2 focus:outline-indigo-300;
}

select {
  @apply focus:outline-indigo-300;
}

button {
  @apply focus:outline-indigo-500;
}

.resume-type {
  @apply p-10 text-indigo-300 rounded-lg border-2 border-indigo-300 hover:bg-indigo-50 transition duration-500 hover:scale-110;
}

.react-pdf__Page {
  width: 100% !important;
}
.react-pdf__Page__canvas {
  width: 100% !important;
  height: 100% !important;
}

.textLayer {
  width: 100% !important;
  height: 100% !important;
}

.annotationLayer {
  width: 100% !important;
  height: 100% !important;
}

.right-0 {
  right: 0px;
}
.left-0 {
  left: 0px;
}
